XDG_CACHE_HOME
.vscode
*.swp
__pycache__

result_Sony/*

checkpoint/Fuji
checkpoint/Sony

datasets/Sony/long/*.ARW
datasets/Sony/long_temp/*.ARW
datasets/Sony/short/*.ARW
datasets/Sony/short_temp/*.ARW

datasets/Fuji

datasets/Sony/long_down/*.png
datasets/Sony/long_temp_down/*.png
datasets/Sony/short_down/*.png
datasets/Sony/short_temp_down/*.png

datasets/Sony/*.txt

dataset/Sony/long/*.ARW
dataset/Sony/long_temp/*.ARW
dataset/Sony/short/*.ARW
dataset/Sony/short_temp/*.ARW

dataset/Fuji

dataset/Sony/long_down/*.png
dataset/Sony/long_temp_down/*.png
dataset/Sony/short_down/*.png
dataset/Sony/short_temp_down/*.png

dataset/Sony/*.txt
images/*.png
models/*.ckpt

!plots

!images/unet_1.png
!images/unet_2.png
!images/unet_3.png
!images/unet_4.png
!images/unet_5.png
!images/unet_6.png
!images/unet_7.png
!images/unet_8.png
!images/unet_9.png
!images/unet_10.png
!images/unet_11.png
!images/unet_12.png
!images/unet_13.png
!images/unet_14.png
!images/unet_15.png
!images/unet_16.png
!images/unet_17.png
!images/unet_18.png
!images/unet_19.png
!images/unet_20.png

!images/FPN_1.png
!images/FPN_2.png
!images/FPN_3.png
!images/FPN_4.png
!images/FPN_5.png
!images/FPN_6.png
!images/FPN_7.png
!images/FPN_8.png
!images/FPN_9.png
!images/FPN_10.png
!images/FPN_11.png
!images/FPN_12.png
!images/FPN_13.png
!images/FPN_14.png
!images/FPN_15.png
!images/FPN_16.png
!images/FPN_17.png
!images/FPN_18.png
!images/FPN_19.png
!images/FPN_20.png

!images/simpleUNET_1.png
!images/simpleUNET_2.png
!images/simpleUNET_3.png
!images/simpleUNET_4.png
!images/simpleUNET_5.png
!images/simpleUNET_6.png
!images/simpleUNET_7.png
!images/simpleUNET_8.png
!images/simpleUNET_9.png
!images/simpleUNET_10.png
!images/simpleUNET_11.png
!images/simpleUNET_12.png
!images/simpleUNET_13.png
!images/simpleUNET_14.png
!images/simpleUNET_15.png
!images/simpleUNET_16.png
!images/simpleUNET_17.png
!images/simpleUNET_18.png
!images/simpleUNET_19.png
!images/simpleUNET_20.png