XDG_CACHE_HOME
.vscode
*.swp
__pycache__

result_Sony/*

checkpoint/Fuji
checkpoint/Sony

datasets/Sony/long/*.ARW
datasets/Sony/long_temp/*.ARW
datasets/Sony/short/*.ARW
datasets/Sony/short_temp/*.ARW

datasets/Fuji

datasets/Sony/long_down/*.png
datasets/Sony/long_temp_down/*.png
datasets/Sony/short_down/*.png
datasets/Sony/short_temp_down/*.png

datasets/Sony/*.txt

dataset/Sony/long/*.ARW
dataset/Sony/long_temp/*.ARW
dataset/Sony/short/*.ARW
dataset/Sony/short_temp/*.ARW

dataset/Fuji

dataset/Sony/long_down/*.png
dataset/Sony/long_temp_down/*.png
dataset/Sony/short_down/*.png
dataset/Sony/short_temp_down/*.png

dataset/Sony/*.txt
images/*.png
models/*.ckpt

!plots

!images/unet_4.png
!images/unet_5.png
!images/unet_6.png
!images/unet_11.png
!images/unet_12.png
!images/unet_13.png
!images/unet_24.png
!images/unet_25.png
!images/unet_26.png
!images/unet_27.png
!images/unet_115.png
!images/unet_116.png
!images/unet_117.png
!images/unet_118.png
!images/unet_222.png
!images/unet_223.png
!images/unet_224.png
!images/unet_225.png
!images/unet_226.png
!images/unet_227.png

!images/unet_bn_4.png
!images/unet_bn_5.png
!images/unet_bn_6.png
!images/unet_bn_11.png
!images/unet_bn_12.png
!images/unet_bn_13.png
!images/unet_bn_24.png
!images/unet_bn_25.png
!images/unet_bn_26.png
!images/unet_bn_27.png
!images/unet_bn_115.png
!images/unet_bn_116.png
!images/unet_bn_117.png
!images/unet_bn_118.png
!images/unet_bn_222.png
!images/unet_bn_223.png
!images/unet_bn_224.png
!images/unet_bn_225.png
!images/unet_bn_226.png
!images/unet_bn_227.png

!images/unet_in_4.png
!images/unet_in_5.png
!images/unet_in_6.png
!images/unet_in_11.png
!images/unet_in_12.png
!images/unet_in_13.png
!images/unet_in_24.png
!images/unet_in_25.png
!images/unet_in_26.png
!images/unet_in_27.png
!images/unet_in_115.png
!images/unet_in_116.png
!images/unet_in_117.png
!images/unet_in_118.png
!images/unet_in_222.png
!images/unet_in_223.png
!images/unet_in_224.png
!images/unet_in_225.png
!images/unet_in_226.png
!images/unet_in_227.png

!images/unet_d_4.png
!images/unet_d_5.png
!images/unet_d_6.png
!images/unet_d_11.png
!images/unet_d_12.png
!images/unet_d_13.png
!images/unet_d_24.png
!images/unet_d_25.png
!images/unet_d_26.png
!images/unet_d_27.png
!images/unet_d_115.png
!images/unet_d_116.png
!images/unet_d_117.png
!images/unet_d_118.png
!images/unet_d_222.png
!images/unet_d_223.png
!images/unet_d_224.png
!images/unet_d_225.png
!images/unet_d_226.png
!images/unet_d_227.png

!images/FPN_4.png
!images/FPN_5.png
!images/FPN_6.png
!images/FPN_11.png
!images/FPN_12.png
!images/FPN_13.png
!images/FPN_24.png
!images/FPN_25.png
!images/FPN_26.png
!images/FPN_27.png
!images/FPN_115.png
!images/FPN_116.png
!images/FPN_117.png
!images/FPN_118.png
!images/FPN_222.png
!images/FPN_223.png
!images/FPN_224.png
!images/FPN_225.png
!images/FPN_226.png
!images/FPN_227.png

!images/simpleUNET_4.png
!images/simpleUNET_5.png
!images/simpleUNET_6.png
!images/simpleUNET_11.png
!images/simpleUNET_12.png
!images/simpleUNET_13.png
!images/simpleUNET_24.png
!images/simpleUNET_25.png
!images/simpleUNET_26.png
!images/simpleUNET_27.png
!images/simpleUNET_115.png
!images/simpleUNET_116.png
!images/simpleUNET_117.png
!images/simpleUNET_118.png
!images/simpleUNET_222.png
!images/simpleUNET_223.png
!images/simpleUNET_224.png
!images/simpleUNET_225.png
!images/simpleUNET_226.png
!images/simpleUNET_227.png